.dishes-heading {
    text-align: center;
}

.dish-container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: center;
}

.dish-name-link {
    text-decoration: none;
}
.dish-name-link:hover {
    color: navy;
}

.loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dishes-table th, .dishes-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }

.pagination-controls {
    padding: 20px;
    text-align: center;
}
.pagination-info {
    padding: 10px;
}
.pagination-button {
    padding: 5px;
}
.sorted-column {
    cursor: pointer;
}

.sorted-column:hover {
    color: navy;
}

.diet-checkbox {
    display: inline-flex;
    gap: 4px;
}